<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tag to blog</title>
    <link rel="stylesheet" th:href="@{/css/addTagToBlogStyle.css}">
</head>
<body>
    <div class="outer-tag-blog-div">
        <form th:action="@{/tag/addTagToBlog/{id}(id=${blogId})}" method="post">
            <div>
                <label>Select Tags:</label>
                <div class="tag-checkbox-container">
                    <label class="tag-item"
                           th:each="tag : ${tagsList}">
                        <input type="checkbox"
                               name="tagIds"
                               th:value="${tag.id}">
                        <span th:text="${tag.tagName}"></span>
                    </label>
                </div>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>